<div class="button-wrapper"> 
    <button type="button" (click)="createForm()">Create</button>
    <button type="button">Delete</button>
</div>

<form id="SubjectID">
  <label for="sub_id">SubjectID</label>
    <input type="text" id="sub_id" name="sub_id"><br><br>
    <button type="button"(click)="handleIDForm()">Submit</button>
    <div *ngIf="find">
      <button type="button" [routerLink]="['./',sub_id]">Find</button>
    </div>
</form>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Teacher</th>
  </tr>
  <tr *ngFor="let subject of subjects">
    <td>{{subject.sub_id}}</td>
    <td>{{subject.name}}</td>
    <td>{{subject.teacher}}</td>
  </tr>
</table>
<br>
<br>
<hr>