<p><em>Interact with the text below to access certain subjects, all subjects are displayed by default</em></p>

<form id="SubjectID">
  <label for="sub_id">SubjectID</label>
    <input type="text" id="sub_id" name="sub_id"><br><br>
    <button type="button"(click)="handleIDForm()">Submit</button>
</form>
<div class="button-wrapper"> 
    <button type="button" routerLink="create">Create</button>
    <button type="button" [routerLink]="['./',sub_id]">Display</button>
    <button type="button">Delete</button>
</div>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Teacher</th>
  </tr>
  <tr *ngFor="let subject of subjects">
    <td>{{subject.sub_id}}</td>
    <td>{{subject.name}}</td>
    <td>{{subject.teacher}}</td>
  </tr>
</table>
<br>
<br>
<hr>
<router-outlet></router-outlet>