<p><em>Interact with the text below to access certain subjects, all subjects are displayed by default</em></p>
<form id="SubjectID">
  <label for="sub_id">SubjectID</label>
    <input type="text" id="sub_id" name="sub_id"><br><br>
    <button type="button"(click)="handleIDForm()">Submit</button>
</form>
<div class="button-wrapper"> 
    <button type="button">Display</button>
    <button type="button" [routerLink]="['./',sub_id]">Create</button>
    <button type="button">Delete</button>
</div>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Teacher</th>
  </tr>
  <tr *ngFor="let subject of subjects">
    <td><button type="button" style="background-color: transparent;"(click)="selectSubject(subject)">
      {{subject.sub_id}}
    </button></td>
    <td><button type="button" style="background-color: transparent;"(click)="selectSubject(subject)">
      {{subject.name}}
    </button></td>
    <td><button type="button" style="background-color: transparent;"(click)="selectSubject(subject)">
      {{subject.teacher}}
    </button></td>
  </tr>
</table>
<router-outlet></router-outlet>