<div class="homescreen">
  <h1>Technical Assessment</h1>
  <h3>Display a table of students and a table of subjects with respective information for each one.</h3>
  <h3>The goal is to have REST api enabled for operations on the table data</h3>
  <div class="button-wrapper"> 
    <a class="link" href="">
      <button>Home</button>
    </a>
    <a class="link" href="/subjects">
      <button>Subjects</button>
    </a>
    <a class="link" href="/students">
      <button>Students</button>
    </a>
  </div>  
</div>
<router-outlet></router-outlet>
