<a style="margin-top: 20px;">This is my Defaul Page(app.component.html)</a>

<div style="margin-top: 20px;margin-bottom: 20px;">
  <button routerLink="/subjectsPage" routerLinkActive="active" ariaCurrentWhenActive="page">Subjects</button> 

</div>
<h1>School Subjects and Students</h1>
<!--<app-student-list></app-student-list>
<app-sales-tax></app-sales-tax>-->
<div style="margin-top: 20px;margin-bottom: 20px;border: solid darkblue;min-height: 200px;max-width: 500px;">
  <router-outlet></router-outlet>
</div>