<div class="homescreen">
  <h1>Technical Assessment</h1>
  <h3>Display a table of students and a table of subjects with respective information for each one.</h3>
  <h3>The goal is to have REST api enabled for operations on the table data</h3>
  <div class="topnav">
    <a id="/" routerLink="/" (click)="changeTab('')">Home</a>
    <a id="students" routerLink="/students"(click)="changeTab('students')">Students</a>
    <a id="subjects" routerLink="/subjects"(click)="changeTab('subjects')">Subjects</a>
  </div>
<router-outlet></router-outlet>
