<p><em>Fill out the details in the text box below and click submit followed by your desired action. All students are displayed by default under the subjects tab</em></p>
<form id="SubjectID">
  <label for="sub_id">Student ID</label>
    <input type="text" id="sub_id" name="sub_id"><br><br>
    <button type="button"(click)="handleIDForm()">Submit</button>
</form>
<div class="button-wrapper"> 
    <button type="button">Create</button>
    <button type="button" [routerLink]="['./',studentID]">Display</button>
    <button type="button">Delete</button>
</div>
<table>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Surname</th>
    <th>Subjects</th>
  </tr>
  <tr *ngFor="let student of students">
    <td>{{student.id}}</td>
    <td>{{student.first_name}}</td>
    <td>{{student.last_name}}</td>
    <td>{{student.subjects}}</td>
  </tr>
</table>
<br>
<br>
<hr>
<router-outlet></router-outlet>