<p><em>Interact with the text below to access certain students, all students are displayed by default</em></p>

<label for="sub_id">Student ID</label>
  <input type="text" id="sub_id" name="sub_id"><br><br>
<div class="button-wrapper"> 
    <button type="button">Display</button>
    <button type="button" [routerLink]="['./','91263']">Create</button>
    <button type="button">Delete</button>
</div>
<table>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Surname</th>
  </tr>
  <tr *ngFor="let student of students">
    <td><button type="button" style="background-color: transparent;"(click)="selectStudent(student)">
      {{student.id}}
    </button></td>
    <td><button type="button" style="background-color: transparent;"(click)="selectStudent(student)">
      {{student.first_name}}
    </button></td>
    <td><button type="button" style="background-color: transparent;"(click)="selectStudent(student)">
      {{student.last_name}}
    </button></td>
  </tr>
</table>
<button type="button">Create</button>
<router-outlet></router-outlet>