table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
.button:hover{
  color:#3EB489;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  border: 1px solid #444;
  margin-bottom: .5rem;
  display: flex;
}

li button {
  background-color: aliceblue;
  flex: 1;
  padding: 1rem;
  margin: 0;
  text-align: left;
  border-radius: 0;
}

li button:hover, li button:active {
  background-color: #444;
  color: white;
  cursor: pointer;
}

label {
  display: block;
  padding-bottom: .4rem;
  margin-top: 1rem;
}
